[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.9.1"
django = "==5.2.5"
sqlparse = "==0.5.3"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.11"